-- Script SQL pour modifier la structure de la base de données

-- 1. Créer une nouvelle table pour stocker les informations des locataires (IGNORÉ SI EXISTE DÉJÀ)
DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM information_schema.tables WHERE table_schema = 'client_52' AND table_name = 'tenants_info') THEN
    CREATE TABLE client_52.tenants_info (
      id SERIAL PRIMARY KEY,
      full_name TEXT NOT NULL,
      email TEXT,
      phone_number TEXT,
      notes TEXT,
      created_at TIMESTAMP DEFAULT NOW(),
      updated_at TIMESTAMP DEFAULT NOW()
    );
  END IF;
END $$;

-- 2. Ajouter le champ tenant_info_id à la table tenants (IGNORÉ SI EXISTE DÉJÀ)
DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM information_schema.columns 
                WHERE table_schema = 'client_52' AND table_name = 'tenants' AND column_name = 'tenant_info_id') THEN
    ALTER TABLE client_52.tenants ADD COLUMN tenant_info_id INTEGER;
    
    -- Ajouter une contrainte de clé étrangère
    ALTER TABLE client_52.tenants
      ADD CONSTRAINT tenants_tenant_info_fkey 
      FOREIGN KEY (tenant_info_id) 
      REFERENCES client_52.tenants_info(id)
      ON DELETE SET NULL;
  END IF;
END $$;

-- 3. Créer la table tenant_history si elle n'existe pas
DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM information_schema.tables WHERE table_schema = 'client_52' AND table_name = 'tenant_history') THEN
    CREATE TABLE client_52.tenant_history (
      id SERIAL PRIMARY KEY,
      rating INTEGER NOT NULL,
      feedback TEXT,
      category TEXT DEFAULT 'general',
      tenant_full_name TEXT,
      original_user_id INTEGER,
      event_type TEXT DEFAULT 'evaluation',
      event_severity INTEGER DEFAULT 0,
      event_details JSONB,
      documents TEXT[],
      bail_status TEXT,
      bail_id INTEGER,
      property_name TEXT,
      created_at TIMESTAMP DEFAULT NOW() NOT NULL,
      created_by INTEGER,
      tenant_id INTEGER,
      is_orphaned BOOLEAN DEFAULT FALSE,
      tenant_info_id INTEGER
    );
  ELSE
    -- Si la table existe mais que la colonne tenant_info_id n'existe pas, l'ajouter
    IF NOT EXISTS (SELECT FROM information_schema.columns 
                  WHERE table_schema = 'client_52' AND table_name = 'tenant_history' AND column_name = 'tenant_info_id') THEN
      ALTER TABLE client_52.tenant_history ADD COLUMN tenant_info_id INTEGER;
    END IF;
  END IF;
  
  -- Vérifier si la contrainte de clé étrangère existe avant de l'ajouter
  IF NOT EXISTS (SELECT FROM information_schema.table_constraints 
                WHERE constraint_schema = 'client_52' AND table_name = 'tenant_history' 
                AND constraint_name = 'tenant_history_tenant_info_fkey') THEN
    ALTER TABLE client_52.tenant_history
      ADD CONSTRAINT tenant_history_tenant_info_fkey
      FOREIGN KEY (tenant_info_id)
      REFERENCES client_52.tenants_info(id)
      ON DELETE SET NULL;
  END IF;
END $$;

-- 4. Mettre à jour la table feedbacks pour référencer tenants_info
DO $$
BEGIN
  -- Vérifier si la colonne tenant_info_id existe dans la table feedbacks
  IF NOT EXISTS (SELECT FROM information_schema.columns 
                WHERE table_schema = 'client_52' AND table_name = 'feedbacks' AND column_name = 'tenant_info_id') THEN
    ALTER TABLE client_52.feedbacks ADD COLUMN tenant_info_id INTEGER;
    
    -- Ajouter une contrainte de clé étrangère
    ALTER TABLE client_52.feedbacks
      ADD CONSTRAINT feedbacks_tenant_info_fkey
      FOREIGN KEY (tenant_info_id)
      REFERENCES client_52.tenants_info(id)
      ON DELETE SET NULL;
  END IF;
END $$;

-- 5. Script de migration : Pour chaque tenant existant, créer un tenant_info correspondant
-- et mettre à jour les références seulement si nécessaire
DO $$
DECLARE
  tenant_record RECORD;
  new_tenant_info_id INTEGER;
  tenant_count INTEGER;
BEGIN
  -- Vérifier s'il reste des locataires sans tenant_info_id
  SELECT COUNT(*) INTO tenant_count 
  FROM client_52.tenants 
  WHERE tenant_info_id IS NULL AND user_id IS NOT NULL;
  
  IF tenant_count > 0 THEN
    -- Migrer les informations des locataires depuis la table users
    FOR tenant_record IN 
      SELECT t.id, u.full_name, u.email, u.phone_number
      FROM client_52.tenants t
      JOIN public.users u ON t.user_id = u.id
      WHERE t.tenant_info_id IS NULL
    LOOP
      -- Insérer dans tenants_info
      INSERT INTO client_52.tenants_info (full_name, email, phone_number)
      VALUES (tenant_record.full_name, tenant_record.email, tenant_record.phone_number)
      RETURNING id INTO new_tenant_info_id;
      
      -- Mettre à jour la référence dans tenants
      UPDATE client_52.tenants
      SET tenant_info_id = new_tenant_info_id
      WHERE id = tenant_record.id;
      
      -- Mettre à jour tenant_history si possible
      UPDATE client_52.tenant_history
      SET tenant_info_id = new_tenant_info_id
      WHERE tenant_id = tenant_record.id;
      
      -- Mettre à jour feedbacks si possible
      UPDATE client_52.feedbacks
      SET tenant_info_id = new_tenant_info_id
      WHERE tenant_id = tenant_record.id;
    END LOOP;
  END IF;
END $$;
